[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
cython = "*"
neptune-client = "*"
psutil = "*"
hdbscan = "*"
ineqpy = {git = "https://github.com/mmngreco/IneqPy"}
yellowbrick = "*"
numexpr = "*"
seaborn = "*"

[dev-packages]
pytest = "*"
xlrd = "*"
line-profiler = "*"
profilehooks = "*"
builtins = "*"

[requires]
python_version = "3.7"
