[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
pandas = "*"
cython = "*"
neptune-client = "*"
psutil = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
